node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

app.config.js
app.config.ts
metro.config.js
metro.config.ts
webpack.config.js
webpack.config.ts
